body {
    background-image: url("../images/zen-garden.jpg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}
    .jumbotron {
    background: rgba(200, 54, 54, 0);
    color: #ffffff;
    text-shadow: black 0.3em 0.3em 0.3em;
}